#map-container {
    position: relative;
    height: 600px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#scrollPrompt {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    z-index: 9999; 
}

.checkbox input[type='checkbox'] {
    display: none;  /* hide default checkbox */
}

.checkbox .circle-legend {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle; 
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.checkbox input[type='checkbox']:checked + circle.circle-legend {
    border: 1px solid transparent; /* remove board when checked? */
}

.navbar-end {
    padding-right: 100px;
    margin-top: -2em;
}
